FLASK_SECRET_KEY=
DATABASE_URL=postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=photobooth
SEPAY_API_KEY=
SEPAY_BANK=
SEPAY_ACCOUNT_NUMBER=
SEPAY_TEMPLATE=compact
